// Blue
$light-blue: #418FDE;
$dark-blue: #1D4F91;

// Grey
$white: #FFFFFF;
$white-transparency: rgba(255, 255, 255, 0.8);
$snowy-grey: #F5F5F5;
$milky-grey: #E6E6E6;
$light-grey: #DBDBDB;
$grey: #A8A8A8;
$black-text: #403F3F;

// Green
$green: #28a745;

// Red
$red: #aa312c;

// Yellow
$yellow: #eeb71f;
