// Heights
$header-height: 54px;
$button-height: 36px;
$content-min-height: calc(100vh - 54px);

// Widths
$button-width: 170px;
$tree-width: 360px;
$tree-width-collapsed: 53px;
$page-content-width: 841px;

// Paddings
$button-padding: 10px;
$content-padding: 21px 35px;
$dropdown-padding: 8px 18px 8px 14px;
$table-header-padding: 20px 32px 20px 35px;
$table-small-header-padding: 10px 32px 10px 35px;

// Fonts
$button-font-size: 12px;
