.trash {
  content: url("../../../assets/trash.svg");
}

.edit {
  content: url("../../../assets/edit.svg");
}

.backarrow {
  content: url("../../../assets/back-arrow.svg");
}

.repair {
  content: url("../../../assets/repair.svg");
}

.cross {
  content: url("../../../assets/cross.svg");
}

.greycross {
  content: url("../../../assets/grey-cross.svg");
}

.help {
  content: url("../../../assets/help.svg");
}

.check {
  content: url("../../../assets/check.svg");
}

.plus {
  content: url("../../../assets/plus.svg");
}

.redtrash {
  content: url("../../../assets/red-trash.svg");
}

.info {
  content: url("../../../assets/info.svg");
}

.lock {
  content: url("../../../assets/lock.svg");
}

.download {
  content: url("../../../assets/down-arrow.svg");
  width: 16px;
  height: 16px;
}

.hub {
  content: url("../../../assets/hub.svg");
}

.arrowdown {
  content: url("../../../assets/arrow-down.svg");
}

.avatar {
  content: url('../../../assets/avatar.svg');
}

.en {
  width: 20px;
  height: 20px;
  content: url('../../../assets/united-kingdom.svg');
}

.de {
  width: 20px;
  height: 20px;
  content: url('../../../assets/germany.svg');
}

.archive {
  width: 26px;
  height: 27px;
  content: url("../../../assets/archive.svg");
}

.dragyreorder {
  height: 24px;
  width: 24px;
  content: url('../../../assets/dragdropicon.svg');
}

.assetarrow {
  content: url('../../../assets/asset-arrow.svg');
}

.search {
  content: url("../../../assets/search.svg");
}

.searchdocument {
  content: url("../../../assets/search-document.svg")
}

.attach {
  content: url('../../../assets/attach.svg');
}

.attachgrey {
  content: url('../../../assets/attach-grey.svg');
  width: 15px;
}

.backarrowwhite {
  content: url('../../../assets/back-arrow-white.svg');
  height: 16px;
  width: 16px;
}

.external {
  content: url('../../../assets/external.svg');
}

.copy {
  content: url('../../../assets/copy.svg');
}

.arrowdowngrey {
  content: url('../../../assets/arrow-down-grey.svg');
}

.arrowdownwhite {
  content: url('../../../assets/arrow-down-white.svg');
}

.comment {
  height: 16px;
  width: 16px;
  content: url('../../../assets/comment.svg');
}

.archivegrey {
  height: 16px;
  width: 16px;
  content: url('../../../assets/archive-grey.svg');
}

.burger {
  content: url('../../../assets/burger.svg');
}

.filedownload {
  content: url('../../../assets/file-download.svg');
}
